.section {
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.section h2 {
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
}
.section p {
    margin-top: 0px;
    font-size: 18px;
    line-height: 1.6;
}
.join-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.join-container .left {
    flex: 1;
    min-width: 300px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #333;
}

.button.secondary {
    background-color: #ededed;
    color: #333;
    border: 1px solid #ddd;
    margin-left: 10px;
}


.join-container img {
    flex: 1;
    min-width: 400px;
    max-height: 400px;
    object-fit: contain;
    border-radius: 4px;
}
