/* 成员金句 */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .rule-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .server-carousel {
        grid-template-columns: 1fr;
    }
}