/* 服务器详情样式 */
.left {
    width: 36.9vw;
    height: 100%;
    padding-right: 1.46vw;
}

.right {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1.46vw;
    height: 100%;
}

.server-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.server-item {
    background: #fff;
    border-radius: 0.88vw;
    overflow: hidden;
    height: 100%;
}

.right .server-item {
    height: 100%;  
}

.server-item img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.server-details {
    padding: 1.46vw;
}

.server-details h3 {
    margin: 0 0 0.73vw;
    font-size: 1.2rem;
}

.server-content h2 {
    font-size: 2rem;
    color: #000;
    margin: 0 0 2.93vw 5%;
}

.server-item img[src*="wallpaper_minecraft_winter_celebration_2048x2048.png"] {
    height: 36vw;
}

.server-item img[src*="tacz_img1.png"],
.server-item img[src*="Fhome.jpg"] {
    height: 15vw;
}